#post {
    width: 400px;
    border: 1px solid black;
}

#heading {
    display: flex;
    padding: 0.5 rem;
    align-items: center;
}

#title{
    flex-grow: 1;
    margin: 0 0.5rem;
}

.nwp-container{
    display: inline-flex;
    gap:15px; 
    margin:5;       
    padding: 8px 12px;      
    border-radius: 6px;
    border-color: black;
    width: fit-content;
}

.post{
    display: flex;
    flex-direction: column;
    align-items: left;   
    justify-content: center; 
    text-align: left;
    margin: 0 auto;        
    max-width: 500px;
    margin-bottom: 70px;
    
}

.post img {
    width: 100%;                
    border-radius: 5px 5px 0 0;
    object-fit: cover;
}



.posts-container {
    width: 85%;
    margin: auto;
}

#listView:checked ~ .posts-container .post {
    margin-bottom: 40px;
}

#listView:checked ~ .posts-container {
    display: block;
}


#gridView:checked ~ .posts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}


#gridView:checked ~ .posts-container .post strong,
#gridView:checked ~ .posts-container .post p {
    display: none;
}


#gridView:checked ~ .posts-container .post img {
    height: 200px;
    object-fit: cover;
}

.posts-container img {
    width: 100%;
    border-radius: 8px;
}
